
body{
    background:#999;
    color:#000;
    font-family:Georgia,serif;
}
#doc{
    background:#fff;
}
#bd{
padding:.5em;
}
h1{
    font-size:142%;
    font-weight:bold;
    padding:1em;
    text-align:center;
    color:#363;
}
a{color:#369;}
h3{
    font-size:160%;
    padding:.5em 0;
}
#ft{
    background:#999;
    font-size:90%;
    text-align:center;
    padding:2em;
}
p{
    padding-bottom:.5em;
}

