.menu {
    border: 1px dashed gray;
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}
 
.main {
    border: 1px dashed gray;
    width: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
 
.display {
    border: 1px dashed gray;
    width: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
 
input {
    margin: 2px;
}