	body{
		margin: 0px;
		padding: 0px;		
		font-family: 'Questrial', sans-serif;		
	}
	
	p, ol, ul{
		margin-top: 0;
	}
	
	a{
		color: #2056ac;
	}
	
	a:hover{
		text-decoration: none;
	}
	.title{
		margin-bottom: 3em;
	}
	
	.title h2{
		font-size: 2.8em;
	}
	
	.title .byline{
		font-size: 1.1em;
		color: #6F6F6F#;
	}

	#header-wrapper{
		overflow: hidden;
		background:gray;
	}

	#header{
		text-align: center;
	}

	#logo{
		padding: 8em 0em 4em 0em;
	}
		

	#menu{
		height: 60px;
	}
	
	#menu ul{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li{
		display: inline-block;
	}
	
	#menu li a, #menu li span{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}